doctype
html
  head
    title Irene
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/main.css")
    link(rel="stylesheet" href="./font-awesome-4.6.3/css/font-awesome.min.css")
  body
      != yield
    .fade-box
    .footer
      a(href="https://www.linkedin.com/in/irene-feng-79a23092" target="_blank")
        i.fa.fa-linkedin-square.fa-2x
      a(href="https://github.com/irenelfeng" target="_blank")
        i.fa.fa-github.fa-2x
      a(href="https://twitter.com/irenelfeng" target="_blank")
        i.fa.fa-twitter.fa-2x
      a(href="mailto:irenelfeng@gmail.com" target="_blank")
        i.fa.fa-envelope.fa-2x
      p(style="font-size:10px")
        | I made this in 2016